.header{
    position: sticky;
    background: linear-gradient(90deg, rgba(255,255,255,1) 2%, rgba(195,219,80,1) 53%, rgba(195,219,84,1) 100%);
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.32);
}
.nav {
    text-decoration: none;
    margin-right: 2em;
    font-size: 25px;
    color: rgb(41, 41, 41);
    font-weight: bold;
}
.me-auto{
    margin-left: 50px;
}
.icon{
   font-size: 20px;
   margin-top: 10px;
   margin-right: 10px;
}
.lista {
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 5em;
    color: black;
}

.fila {
    border-bottom: 2px solid lightgray;
    padding: 1em 2em;
    cursor: pointer;
    color: black;
    width: 102%;
}
.enlaceList{
    text-decoration: none;
}
.fila:hover{
    color: #45ac00;
}

.tituloFila {
    font-weight: bold;
    border-bottom: 2px solid lightgray;
    padding: 1em 2em;
}

.ck-editor__editable_inline {
    min-height: 500px;
    margin-bottom: 3em;
}